.h1 {
    font-size: 36;
    font-weight: bold;
    color: navy;
}

.h2 {
    font-size: 24;
    font-weight: bold;
    color: darkgray;
}

.h3 {
    font-size: 18;
    font-weight: bold;
    color: darkgray;
}